<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="e.elemcla.helloworldapp">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Deskination"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondScreenActivity" />
        <activity android:name=".FullMapActivity" />
        <activity android:name=".DesksPage" />
        <activity android:name=".GroundFloorRouteActivity" />
        <activity android:name=".FirstFloorRouteActivity" />
        <activity android:name=".TwoFloorsRouteActivity" />
        <activity
            android:name=".treasure"
            android:label="@string/title_activity_treasure" />
        <activity android:name=".ScanActivity" />
        <activity android:name=".TreasureHuntGame"></activity>
    </application>

</manifest>